* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

main {
  padding: 1rem;
}

.content {
  border: 1px solid black;
  padding-bottom: 4rem;
}

.large-line {
  width: 94%;
  height: 0.1rem;
  background-color: black;
  margin: 0 auto;
}

section {
  padding: 1rem;
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.view-1 p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.view-1 h1 {
  width: 80%;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
.view-1 img {
  margin-top: 1rem;
  width: 100%;
  height: 12rem;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.view-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.view-2 .first .text p {
  font-size: 1rem;
  text-transform: uppercase;
}
.view-2 .first .text h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
}
.view-2 .first a {
  padding: 0.6rem 1rem;
  background-color: black;
  color: white;
  border-radius: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.view-2 .line {
  width: 0.1rem;
  height: 100%;
  background-color: black;
}
.view-2 .second {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.view-2 .second .line {
  height: 0.1rem;
  width: 100%;
  background-color: black;
}
.view-2 .second .card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.view-2 .second .card h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.view-2 .second .card img {
  width: 3rem;
}

.view-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  position: relative;
}
.view-3 .front {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
}
.view-3 .front h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
}
.view-3 .front p {
  font-size: 1.2rem;
}
.view-3 .line {
  height: 0.1rem;
  width: 100%;
  background-color: black;
}
.view-3 .second {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.view-3 .second .card {
  width: 100%;
}
.view-3 .second .card video {
  width: 100%;
  border-radius: 0.8rem;
}
.view-3 .second .card h1 {
  font-weight: 500;
}

.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4 .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.view-4 .left img {
  width: 4rem;
}
.view-4 .left .text h1 {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
}
.view-4 .left .text p {
  text-transform: uppercase;
}
.view-4 .line {
  height: initial;
  width: 0.1rem;
  background-color: black;
  display: none;
}
.view-4 .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4 .right p {
  font-size: 1.3rem;
  font-weight: 400;
}
.view-4 .right a {
  padding: 0.6rem 1rem;
  background-color: black;
  color: white;
  border-radius: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  section {
    padding: 3rem 3rem;
  }
  .view-1 p {
    font-size: 1rem;
  }
  .view-1 h1 {
    width: 50%;
    font-size: 6rem;
  }
  .view-1 img {
    margin-top: 2rem;
    height: 100%;
  }
  .view-2 {
    justify-content: space-between;
    flex-direction: row;
  }
  .view-2 .first {
    width: 60%;
  }
  .view-2 .first .text h1 {
    font-size: 5rem;
    font-style: 500;
  }
  .view-2 .line {
    width: 0.1rem;
    height: inherit;
    background-color: black;
  }
  .view-2 .second {
    width: 30%;
  }
  .view-3 {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
  }
  .view-3 .front {
    width: 50%;
  }
  .view-3 .line {
    width: 0.1rem;
    height: inherit;
    background-color: black;
  }
  .view-3 .second {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 100%;
  }
  .view-3 .second .card {
    width: 100%;
  }
  .view-3 .second .card video {
    width: 100%;
    border-radius: 0.8rem;
  }
  .view-3 .second .card h1 {
    font-weight: 500;
  }
  .view-4 {
    flex-direction: row;
    gap: 2rem;
  }
  .view-4 .left {
    width: 60%;
    gap: 2rem;
  }
  .view-4 .left img {
    width: 4rem;
    order: 2;
  }
  .view-4 .left .text {
    order: 1;
  }
  .view-4 .left .text h1 {
    font-size: 5rem;
  }
  .view-4 .line {
    display: block;
  }
  .view-4 .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .view-4 .right p {
    font-size: 1.5rem;
  }
  .view-4 .right a {
    margin-top: 22rem;
  }
}/*# sourceMappingURL=style.css.map */